body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: #0096d1;
}
h2 {
  color: #005d81;
}
h3 {
  margin-top: 30px;
}
td {
  padding: 0 20px 5px 0;
}
input {
  margin: 0px 10px 5px 2px;
}
